<ion-header>
  <ion-navbar>
    <ion-title>
      JamStik+ Simulator
    </ion-title>
    <ion-buttons end>
      <ion-icon name="bluetooth" [class.connected]="connected"></ion-icon>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="guitar-body">
    <div *ngFor="let fret of frets" class="fret">
      <span *ngFor="let string of strings" class="string"
      [class.active]="isActive(fret, string)" (click)="play(fret, string)">{{string}}</span>
  </div>
  </div>
</ion-content>
